@import url(https://fonts.googleapis.com/css?family=Raleway|Varela+Round|Coda);
body {
    background: #e9eaeb;
    padding: 2.23em;
}

button {
    color: white;
    font-family: "Coda", sans-serif;
    text-align: center;
    font-size: 20px;
    background: none;
    outline: none;
    border: 0;
    width: 100%;
}

.title {
    color: #395775;
    font-family: "Coda", sans-serif;
    text-align: center;
}

.user-profile {
    margin: 0 auto;
    width: 27em;
    height: 11em;
    background: #fff;
    border-radius: .3em;
}

.user-profile #fullname {
    margin: auto;
    margin-top: -4.40em;
    margin-left: 5.80em;
    color: #259bb3;
    font-size: 1.53em;
    font-family: "Coda", sans-serif;
    font-weight: bold;
}

.user-profile>.description {
    margin: auto;
    margin-top: 1.35em;
    margin-right: 3em;
    width: 18em;
    color: #6c7677;
    font-size: .87em;
    font-family: "varela round", sans-serif;
}

.user-profile>img#avatar {
    padding: .7em;
    margin-left: .3em;
    margin-top: .3em;
    height: 6.23em;
    width: 6.23em;
    border-radius: 18em;
}

.footer {
    margin: 2em auto;
    height: 3.70em;
    background: #157d92;
    text-align: center;
    border-radius: 0 0 .3em .3em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.1s;
}

.footer:hover {
    background: #1fafcc;
}

#username {
    margin: auto;
    display: inline-block;
    margin-left: 10.43em;
    color: #2288cc;
    font-size: .87em;
    font-family: "varela round", sans-serif;
}

#city {
    text-transform: uppercase;
}

/* Adding responsiveness to the application. */

@media (max-width: 475px) {
    .title{
        font-size: 1.50em;
    }
    .user-profile {
        width: 100%;
    }
    .user-profile>img#avatar {
        padding: .5em;
        margin-left: .2em;
        margin-top: .2em;
        height: 4.50em;
        width: 4.50em;
        border-radius: 18em;
    }
    .user-profile #fullname {
        margin: auto;
        margin-top: -4.40em;
        margin-left: 7.65em;
        color: #259bb3;
        font-size: 1.15em;
        font-family: "Coda", sans-serif;
        font-weight: bold;
    }
    #username {
        margin: auto;
        display: inline-block;
        margin-left: 11.35em;
        color: #2288cc;
        font-size: .77em;
        font-family: "varela round", sans-serif;
    }
    .user-profile>.description {
        margin: auto;
        margin-top: 2.50em;
        margin-right: 3em;
        width: 18em;
        color: #6c7677;
        font-size: .77em;
        font-family: "varela round", sans-serif;
    }
}

@media(max-width: 325px) {
    .title {
        font-size: 1.35em;
    }
    .user-profile #fullname {
        margin: auto;
        margin-top: -4.40em;
        margin-left: 6.65em;
        color: #259bb3;
        font-size: 1.15em;
        font-family: "Coda", sans-serif;
        font-weight: bold;
    }

    #username {
        margin: auto;
        display: inline-block;
        margin-left: 9.85em;
        color: #2288cc;
        font-size: .77em;
        font-family: "varela round", sans-serif;
    }
    .user-profile>.description {
        margin-left: .65em;
    }
}

